@import url('https://fonts.googleapis.com/css?family=Roboto');
header{
    background:black;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background:#00A3A5;
    box-shadow: 0 4px 6px 0 rgba(7, 7, 7, 0.24), 0 5px 7px 0 rgba(0,0,0,0.19);
}  

.logo-img{
    float: left;
    width: 25px;
    height: auto;
} 

.icon-header{
    margin-right: 25px;
    float: right;
    width: 40px;
    height: 40px;;
}

body{
    background-image: url("https://i.ibb.co/MGJqSV1/hobbies.jpg");
}

footer{
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    margin-right: 50px;
}

.icon-footer{
    width: 40px;
    height: 40px;
    margin-right: 50px;
}

.form-textarea{
    border: none;
    margin-top: 140%;
    margin-right: 30%;
    width: 100%!important;
    max-height: 150px;
    min-height: 60px;
  }
  
.form-control:focus{
    box-shadow: none;
}

@media screen and (max-width: 500px) { 
    .footer{
        width: 100%;
        background: #dfe2e7;
        line-height: 10px;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 1000;
    }
    .icon-footer{
    padding: 0px 10px 0px 10px;   
    }
}

@media screen and (min-width: 300px) { 
    body{
        display: flex;
        text-align: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
    }
    .log-container {
        background-color: rgba(250, 245, 245, 0.9);
        padding: 10px;
        border-radius: 5px;
        margin:80px auto;
    }

    .logoname-img{
        width: 230px;
    }

    .logotipo{
        color:#00A3A5;

    }
    .logo-img{
        width: 50px;
        height: 50px;;
    }
    
    .email, .password, .user-name, .information{
        display: block;
        border: none;
        border-bottom: 1px solid black;
        padding: 10px 20px;
        margin: 5px auto;
        width: 80%;
        font-size: 15px;
        outline-color: #00A3A5;
    }
    .email:hover, .password:hover, .user-name:hover{
        border-bottom:1px solid red;
    }

    .fa {
        padding: 5px;
        font-size: 30px;
        margin: 5px 2px;
        border: none;
        cursor: pointer;
        width: 100%;
        
    }
    .fa-facebook {
        background: #4267b2;
        color: white;
    }
    .fa-google {
        background: #dd4b39;
        color: white;
    }
    .fa-twitter{
        background: rgb(110, 194, 250);
        color:white;
    }

    .sign-up-btn, .login-btn{
        border-radius: 5px;
        width: 100%;
        padding: 10px 20px;
        margin-top: 10px;
        color:white;
        border: none;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 5px 7px 0 rgba(0,0,0,0.19);
        transition-duration:0.4s;
        outline: none;
        cursor: pointer;
    }

    .sign-up-btn{
        background-color: #009698;
    }
    .login-btn{
        background-color: #00A3A5;
    }
    .sign-up-btn:hover, .login-btn:hover{
        background-color: #007D7E;
    }
    .sign-up-btn:active, .login-btn:active{
        transform: translateY(3px);
    }

    .signup-question{
        cursor: pointer;
    }
    .signup-question:hover{
        color: #00A3A5;
    }  
.container{
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;  
}
.ft{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    background: #283f68;
    border: solid rgba(240, 239, 237, 0.7) 5px;
}
.container-information, .information{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}
.info{
display:block;
margin-top: 20px;
}
.table{
    margin-top: 30px;
}
.table td{
    padding: 0px 15px 0px 15px;
}
hr{
    width: 1000px;
    padding: 1px;
    background: #009698;
}
}
